<%= stylesheet_link_tag "application" %>

<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo"><%= @root_folder.name %></a>
    <ul class="right hide-on-med-and-down">
      <li>
          <div class="nav-bar-element">
          <%= form_tag("/drive/search", method: "get") do %>
            <%= text_field_tag(:query, nil,  placeholder: 'Search') %>
            <%= submit_tag("Search", hidden: true) %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</nav>



<div class="main-container">
  <div class="side-bar">
    <div height="1em">
      <%= link_to 'Edit', @file.web_view_link %>
      <%= link_to 'Download', @file.web_content_link %>
    </div>
    <%= render_list_files(@files_hierarchy).join("\n").html_safe.force_encoding('UTF-8') %>
  </div>


  <div class="viewer">
    <% if @file %>
      <%= render_file.html_safe.force_encoding('UTF-8') %>
    <% end %>
  </div>
</div>

