<%= stylesheet_link_tag "application" %>

<%= form_tag("/drive/search", method: "get") do %>
  <%= label_tag(:query, "Search for:") %>
  <%= text_field_tag(:query) %>
  <%= submit_tag("Search") %>
<% end %>

<div>
  <div class="side-bar">
    <%= render_list_files(@files_hierarchy).join("\n").html_safe.force_encoding('UTF-8') %>
  </div>


  <div class="viewer">
    <% if @file %>
      <div height="1em">
        <%= link_to 'Edit', @file.web_view_link %>
        <%= link_to 'Download', @file.web_content_link %>
      </div>
      <%= render_file.html_safe.force_encoding('UTF-8') %>
    <% end %>
  </div>
</div>

